[config]
mode=ubi
vol_size=4MiB
vol_id=0
vol_type=dynamic
vol_name=ubi_Config
[dtb0]
mode=ubi
image=./images/rtl8198f-engboard.dtb
vol_id=1
vol_size=1MiB
vol_type=static
vol_name=ubi_dtb0
[kernel0]
mode=ubi
image=./images/uImage
vol_id=2
vol_size=5MiB
vol_type=static
vol_name=ubi_k0
[rootfs0]
mode=ubi
image=./images/squashfs.rootfs
vol_id=3
vol_size=16MiB
vol_type=dynamic
vol_name=ubi_r0
#vol_flags=autoresize
[dtb1]
mode=ubi
image=./images/rtl8198f-engboard.dtb
vol_id=4
vol_size=1MiB
vol_type=static
vol_name=ubi_dtb1
[kernel1]
mode=ubi
image=./images/uImage
vol_id=5
vol_size=5MiB
vol_type=static
vol_name=ubi_k1
[rootfs1]
mode=ubi
image=./images/squashfs.rootfs
vol_id=6
vol_size=16MiB
vol_type=dynamic
vol_name=ubi_r1
#vol_flags=autoresize

